@model List<LineStylesChart>
<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">Line chart demonstrating some accessibility features of Highcharts. The chart displays the most commonly used screen readers in surveys taken by WebAIM from December 2010 to September 2019. JAWS was the most used screen reader until 2019, when NVDA took over. VoiceOver is the third most used screen reader, followed by Narrator. ZoomText/Fusion had a surge in 2015, but usage is otherwise low. The overall use of other screen readers has declined drastically the past few years.</p>
</figure>
@section css{
    <style>
        #container {
            height: 420px;
        }

        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 360px;
            max-width: 820px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

    </style>
}
@section scripts{
    <script>
        var data = @Html.Raw(Json.Serialize(Model));
        console.log(data);
        const colors = Highcharts.getOptions().colors;

        Highcharts.chart('container', {
            chart: {
                type: 'spline'
            },

            legend: {
                symbolWidth: 40
            },

            title: {
                text: 'Most common desktop screen readers',
                align: 'left'
            },

            subtitle: {
                text: 'Source: WebAIM. Click on points to visit official screen reader website',
                align: 'left'
            },

            yAxis: {
                title: {
                    text: 'Percentage usage'
                },
                accessibility: {
                    description: 'Percentage usage'
                }
            },

            xAxis: {
                title: {
                    text: 'Time'
                },
                accessibility: {
                    description: 'Time from December 2010 to September 2019'
                },
                categories: data[0].categories
            },

            tooltip: {
                valueSuffix: '%',
                stickOnContact: true
            },

            plotOptions: {
                series: {
                    point: {
                        events: {
                            click: function () {
                                window.location.href = this.series.options.website;
                            }
                        }
                    },
                    cursor: 'pointer',
                    lineWidth: 2
                }
            },

            series: data[0].series,

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 550
                    },
                    chartOptions: {
                        chart: {
                            spacingLeft: 3,
                            spacingRight: 3
                        },
                        legend: {
                            itemWidth: 150
                        },
                        xAxis: {
                            categories:data[0].categories,
                            title: ''
                        },
                        yAxis: {
                            visible: false
                        }
                    }
                }]
            }
        });

    </script>
}
