@model PolarAreaModel
@section scripts
{
    <div>
        <canvas id="myChart"> </canvas>
    </div>
    <script>
        var data = @Html.Raw(Json.Serialize(Model));
        console.log(data);
        
        const ctx = document.getElementById('myChart');

  new Chart(ctx, {
            type: 'polarArea',
             data: {
                labels:data.labels,
                 datasets: [{
                     label: 'My First Dataset',
                     data:data.polarData,
                     backgroundColor: [
                         'rgb(255, 99, 132)',
                         'rgb(75, 192, 192)',
                         'rgb(255, 205, 86)',
                         'rgb(201, 203, 207)',
                         'rgb(54, 162, 235)'
                     ]
                 }]

             },
    options: { }
  });
    </script>
}